/* General styling for the body */
body {
  background-color: #F5F5F5; /* light grey background */
  font-family: Arial, sans-serif; /* using Arial font */
}

/* Styling for headers */
h2, h4, h1 {
  color: #333; /* dark grey color */
  text-align: center; /* center alignment */
  margin-bottom: 20px; /* space below the headers */
}

/* Styling for images */
img {
  width: 100px;
  height: 100px;
  border-radius: 50%; /* to make the image round */
}

/* Styling for the form */
form {
  display: flex; /* align form elements in a line */
  justify-content: center; /* center form elements horizontally */
  padding: 20px 0; /* padding around the form */
}

/* Styling for the text input field */
input[type="text"] {
  width: 200px;
  padding: 10px;
  border-radius: 4px; /* round corners */
  border: 1px solid #ccc; /* grey border */
  margin-right: 10px; /* space to the right of the input field */
}

/* Styling for the submit button */
button[type="submit"] {
  padding: 10px 20px;
  border-radius: 4px; /* round corners */
  border: none; /* remove default border */
  background-color: #faae3b; /* orange background */
  color: white; /* white text */
  cursor: pointer; /* pointer cursor on hover */
}

/* Change background color on button hover */
button[type="submit"]:hover {
  background-color: #c28400; /* darker orange */
}

/* Styling for the container */
.container {
  max-width: 800px;
  margin: 0 auto; /* centering */
  padding: 0 15px; /* padding on the sides */
}

/* Styling for user and repo information */
.user-info, .repo-info {
  background-color: white; /* white background */
  border-radius: 4px; /* round corners */
  padding: 20px; /* padding inside */
  margin-bottom: 20px; /* space below */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); /* subtle shadow */
}

/* Styling for the loading animation */
.loader {
  border: 16px solid #f3f3f3; /* grey border */
  border-radius: 50%; /* round shape */
  border-top: 16px solid #3498db; /* blue top border */
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* animation for Safari */
  animation: spin 2s linear infinite; /* animation for other browsers */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* center the loader */
}

/* Animation for spinning (Safari) */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

/* Animation for spinning (other browsers) */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
